.App {
  text-align: center;
  background-image: url('./images/rustic-barn-wood-wallpaper.jpg');
  /* background-color: bisque; */
  

  height: 125vh;
}

.navMenu li {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}


.App-header {
  padding: 20px; 
  opacity: 0.8;
}

.App-title {
  font-family: Goudy Old Style;
  font-size: 200%;
  display: flex;
  color: rgb(19, 19, 90);
  align-content: flex-start;
}
.titleCard, .homeCard, .list-group-item {
  background-color: antiquewhite;
  border-radius: 10px;
  padding :5px;
}
.homeCard {
  margin-top: 20px;
}
.list-group {
  margin-left: 20px;
}
.figure-img {
  margin-top: 10px;
}

.homeImg {
  width: 400px;
  height: 400px;
}
.egg-chars, .ref-date {
  /* margin-left: 20px;
  align-items: center; */
  justify-content: center;
}
.ord-entry-card {
  background-color: antiquewhite;
}

.orders-card-body {
  height: 400px;
  overflow: auto;
  background-color: antiquewhite;
}
.radFilterBy {
  margin: 10px;
}
.complete-btn {
  margin-right: 5px;
}

.trans-card-body {
  height: 400px;
  overflow: auto;
  background-color: antiquewhite;
  padding: 5px;
}
.trans-form-body {
  background-color: antiquewhite;
  padding: 5px;
}